* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
html {
  background-color: rgb(16, 188, 16);
}
body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  height: 1100px;
  border-radius: 5px;
}
#informacion {
  text-align: left;
  border-radius: 20px;
  background-color: rgb(43, 226, 183);
  color: whitesmoke;
  border: 5px solid greenyellow;
  padding: 10px;
  margin: 20px;
}
header {
  background-color: rgb(24, 180, 112);
  text-align: center;

}

img {
    width: 350px;
    height: 450px;
    
  }
 
  .slideshow-container {
    max-width: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    width: 100%;
    position: absolute;
    transition: transform 1s ease;
    text-align: center; /* Para centrar la imagen horizontalmente */
  }

  /* Cambiar la dirección de la transición */
  .left-to-right {
    transform: translateX(0%);
  }
  
  .fade {
    animation: fade 1s ease-in-out;
  }
  
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  /* Controles del carrusel */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Cambio de color de los controles al pasar el ratón por encima */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  /* Estilo de los puntos indicadores */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #717171;
  }

  /* Contenedor de los puntos indicadores */
  .dots-container {
    text-align: center;
    margin-top: 20px;
  }
  figure {
    border-radius: 20px;
    padding: 20px;
    background-color: green;
  }
  figcaption {
    background-color: white;
    font-size: 2rem;
    border-radius: 10px;
    border: 3px grey solid;
  }
  input {
    background: black;
    color: whitesmoke;
    border-radius: 20px;
    margin-left: 50px;
    border: 5px solid white;
    height: 50px;
    width: 150px;
  }
   
  main div~p {
    text-align: center;
    color: green;
    font-size: 2.5rem;
  }
  header div {
   margin-bottom: 20px;
    width: 20%;
  }
  header div li {
    display: inline-block;
    margin-right: 20px;
    list-style: none;
  }
  header div li a{
    text-decoration: none;
    color: white;
  }